.text-gray{
    color: #a7a4a4;
}.text-red{
    color: red;
}
.bg-color{
    background-color: #1B1B1B;
}   
.bg-noir{
    background-color: #1A1A1A;
}
.full-height {
    height: 80vh; /* 56px pour la hauteur de la navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-effect {
    background: rgba(255, 255, 255, 0.075); /* Couleur blanche avec transparence */
    border-radius: 9px;
    height: 300px;
    backdrop-filter: blur(9px); /* Flou en arrière-plan */
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ombre pour un effet 3D */
    z-index: 0;
}
.img-card{
    width: 4rem;
    height: 4rem;
}


.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}
.navbar-custom {
    z-index: 10; /* Assurez-vous que ce chiffre est supérieur aux éléments comme les cartes */
}